pkgbase = project-plus-netplay
	pkgdesc = A Mod of Super Smash Bros. Brawl with Netplay.
	pkgver = 2.29
	pkgrel = 1
	url = https://projectplusgame.com/
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = git
	makedepends = qt5-base
	depends = alsa-lib
	depends = bluez-libs
	depends = cairo
	depends = curl
	depends = enet
	depends = ffmpeg
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk2
	depends = hidapi
	depends = libevdev
	depends = libpng
	depends = libpulse
	depends = libsm
	depends = libusb
	depends = libx11
	depends = libxi
	depends = libxrandr
	depends = libxxf86vm
	depends = lzo
	depends = mbedtls
	depends = miniupnpc
	depends = official-gamecube-controller-adapter-rules
	depends = pango
	depends = sfml
	depends = systemd-libs
	depends = zlib
	optdepends = pulseaudio: PulseAudio backend
	options = !strip
	source = Faster_Project_Plus-x86-64.AppImage::https://github.com/jlambert360/FPM-AppImage/releases/download/v2.29/Faster_Project_Plus-x86-64.AppImage
	source = Launcher.tar.gz::https://github.com/jlambert360/FPM-AppImage/releases/download/v2.29/Launcher.tar.gz
	source = ProjectPlusSd2.29.tar.gz::https://github.com/jlambert360/FPM-AppImage/releases/download/v2.29/ProjectPlusSd2.29.tar.gz
	sha512sums = 0b6e30875e1afd735e62022180cf87f801ac12740539e7363b1fd6379341a7df9c6ecc8731142011d206c43b005e23fba530b3404d36a72e6181af10f4f06e7a
	sha512sums = 8f392f9ea39bc61b4afb704ddc20e29a603ce6c3947b227ec095f68e541c298dd4cc7cff30454ed3c3562206dff2d5399eb241a40bc0ea6f09dda3bbaf434d6e
	sha512sums = b21ebcdd30c26a24841201b4264a2a5a4cab1800c3a887a99a9320db7700ef6a0a37b62ab7ae95e1789797dff93e33c0f30968a584bf9b19044f60f51d21f5b0

pkgname = project-plus-netplay
